@charset "UTF-8";
:root {
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "Crimson Pro", serif;
  --font-size: 16px;
  --font-scale: 1.25;
  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
  --font-size-small: calc(var(--font-size-1) / var(--font-scale));
  --line-height: 1.6;
  --color-primary: #002742;
  --color-secondary-300: #f9c22ebf;
  --color-secondary-400: #f9c22e;
  --color-dark: #001524;
  --color-light: #FCFCFC;
  --color-gray: #364156;
  --border-radius: 5px;
  --padding-content: 2rem;
  --section-gap: 6.5rem;
  --gap-content: 4rem;
  --gap-large: 2.5rem;
  --gap-small: 1.5rem;
  --inner-width: 71.25rem;
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start]
    minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

html, body {
  font-family: var(--font-sans);
  font-size: var(--font-size);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  margin: 0;
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
  color: var(--color-primary);
}

h3 {
  font-size: var(--font-size-4);
  color: var(--color-primary);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

a {
  line-height: var(--line-height);
}

p {
  line-height: var(--line-height);
}

li {
  line-height: var(--line-height);
}

blockquote {
  line-height: var(--line-height);
}

.site-header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 var(--gap-content);
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  /* Hamburger icon and menu */
}
.site-header.menu-opened .menu {
  display: none;
}
.site-header .menu__list {
  display: flex;
  list-style: none;
  gap: var(--gap-large);
}
.site-header .menu__list .menu__item a {
  color: var(--color-light);
  font-weight: 500;
  font-size: var(--font-size-2);
  font-family: var(--font-serif);
  position: relative;
  text-decoration: none;
}
.site-header .menu__list .menu__item-current a {
  font-weight: 700;
}
.site-header .menu__list .menu__item-current a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-secondary-400);
  bottom: -4px;
  left: 0;
}
.site-header #menu-button {
  display: none;
  border: none;
  background: none;
  flex-shrink: 0;
}
.site-header .hamburger {
  background-color: var(--color-light);
  width: 20px;
  height: 3px;
  position: relative;
}
.site-header .hamburger::before,
.site-header .hamburger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--color-light);
  left: 0;
  top: -8px;
  transition: top 0.2s 0.2s, transform 0.2s;
}
.site-header .hamburger::after {
  top: 8px;
}
.site-header #menu-button.close .hamburger::before,
.site-header #menu-button.close .hamburger::after {
  top: 0;
}
.site-header #menu-button.close .hamburger::before {
  transform: rotate(45deg);
  transition: top 0.2s, transform 0.2s 0.2s;
}
.site-header #menu-button.close .hamburger::after {
  transform: rotate(-45deg);
  transition: top 0.2s, transform 0.2s 0.2s;
}
.site-header #menu-button.close .hamburger {
  background-color: transparent;
  transition: background-color 0s 0.2s;
}
.site-header .full-menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.site-header .full-menu.open {
  display: flex;
}
.site-header .full-menu .menu__list {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.site-header .full-menu .menu__list a {
  font-size: var(--font-size-3);
}

.hero {
  background: url(/assets/images/bg-hero.png);
  background-size: cover;
  height: 93vh;
  color: var(--color-light);
  position: relative;
  margin-top: 70px;
}
.hero__arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.hero__inner {
  display: flex;
  justify-content: center;
  padding: 0 4rem;
  padding-top: 14rem;
}
.hero__inner h1 {
  font-size: 5.875rem;
  max-width: 34rem;
}
.hero__content {
  padding-top: 2rem;
}
.hero__content-subheader {
  color: var(--color-secondary-400);
}
.hero__content-slash {
  color: var(--color-light);
}
.hero__content-excerpt {
  max-width: 30rem;
}
.hero__portrait {
  margin: 0 4rem;
}

.main {
  margin-top: var(--section-gap);
  display: grid;
  grid-template-columns: var(--grid-container);
}
.main__inner {
  max-width: var(--inner-width);
  margin-left: auto;
  margin-right: auto;
  grid-column: inner-start/inner-end;
}

.about {
  position: relative;
  padding-bottom: var(--section-gap);
}
.about::before, .about::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: rgba(54, 65, 86, 0.15);
  border-radius: 50%;
  top: 100%;
  transform: translateY(-50%);
}
.about::before {
  left: 0;
  transform: translate(-50%, -50%);
}
.about::after {
  right: 0;
  transform: translate(50%, -50%);
}
.about__content::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgba(54, 65, 86, 0.15);
  width: 100%;
  top: 100%;
  left: 0px;
}
.about__header {
  display: flex;
  gap: var(--gap-small);
  align-items: center;
  margin-bottom: var(--gap-content);
}
.about__header svg {
  max-height: 2rem;
  margin-top: 0.8rem;
}
.about__content-box {
  margin-top: var(--gap-content);
  position: relative;
}
.about__content-box::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 125%;
  top: 1.5rem;
  bottom: 0;
  left: -3.8rem;
  background-color: var(--color-gray);
}
.about__content-box:last-child::before {
  height: 90%;
}
.about__content-header {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
  margin-bottom: 1rem;
  position: relative;
}
.about__content-header svg {
  max-height: 1.5rem;
  margin-top: 0.6rem;
}
.about__content-header::before {
  content: "";
  position: absolute;
  left: calc((1rem + 45px) * -1);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid var(--color-gray);
  top: 1.3rem;
  transform: translate(-45%, -50%);
  background-color: var(--color-gray);
}
.about__content-text {
  background-color: hsla(44, 94%, 58%, 0.25);
  padding: 2rem;
  border-radius: var(--border-radius);
}

.kompetenser {
  position: relative;
  padding-bottom: var(--section-gap);
  padding-top: var(--section-gap);
}
.kompetenser::before, .kompetenser::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: rgba(54, 65, 86, 0.15);
  border-radius: 50%;
  top: 100%;
  transform: translateY(-50%);
}
.kompetenser::before {
  left: 0;
  transform: translate(-50%, -50%);
}
.kompetenser::after {
  right: 0;
  transform: translate(50%, -50%);
}
.kompetenser__content::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgba(54, 65, 86, 0.15);
  width: 100%;
  top: 100%;
  left: 0px;
}
.kompetenser__header {
  display: flex;
  gap: var(--gap-small);
  align-items: center;
  margin-bottom: var(--gap-large);
}
.kompetenser__header svg {
  max-height: 2rem;
  margin-top: 0.8rem;
}
.kompetenser__content {
  max-width: 65rem;
}
.kompetenser__content .komptenser__content-icons {
  display: flex;
  gap: var(--gap-large);
  flex-wrap: wrap;
}
.kompetenser__content .komptenser__content-icons svg {
  max-height: 2.5rem;
}
.kompetenser__content p {
  margin-bottom: var(--gap-content);
}

.projekt {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
  position: relative;
  padding-bottom: var(--section-gap);
}
.projekt::before, .projekt::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: rgba(54, 65, 86, 0.15);
  border-radius: 50%;
  top: 100%;
  transform: translateY(-50%);
}
.projekt::before {
  left: 0;
  transform: translate(-50%, -50%);
}
.projekt::after {
  right: 0;
  transform: translate(50%, -50%);
}
.projekt__content::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgba(54, 65, 86, 0.15);
  width: 100%;
  top: 100%;
  left: 0px;
}
.projekt__header {
  display: flex;
  gap: var(--gap-small);
  align-items: center;
  margin-bottom: var(--gap-large);
}
.projekt__header svg {
  max-height: 2rem;
  margin-top: 0.8rem;
}
.projekt__content-text {
  margin-bottom: var(--gap-content);
  max-width: 64rem;
}
.projekt__content-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-content);
}
.projekt__content-case {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-small);
  align-items: center;
}
.projekt__content-case .projekt__content-image {
  flex: 5 1 0;
}
.projekt__content-case .projekt__content-desc {
  flex: 4 1 0;
}

.kontakt {
  margin-top: var(--section-gap);
}
.kontakt__header {
  display: flex;
  gap: var(--gap-small);
  align-items: center;
  margin-bottom: var(--gap-large);
}
.kontakt__header svg {
  max-height: 2rem;
  margin-top: 0.8rem;
}
.kontakt__content-text {
  margin-bottom: var(--gap-content);
  max-width: 60rem;
}
.kontakt__content-form {
  background-color: var(--color-secondary-400);
  padding: 1.5rem 3rem;
  border-radius: var(--border-radius);
}
.kontakt__content form {
  display: flex;
  flex-direction: column;
  font-family: var(--font-serif);
  color: var(--color-primary);
  font-size: var(--font-size-2);
}
.kontakt__content form #name::placeholder,
.kontakt__content form #email::placeholder,
.kontakt__content form #phone::placeholder,
.kontakt__content form #message::placeholder {
  font-family: var(--font-sans);
  padding-left: 0.5rem;
}
.kontakt__content form textarea {
  border-radius: var(--border-radius);
  border: none;
  height: 10rem;
  margin-bottom: var(--gap-small);
}
.kontakt__content form textarea::placeholder {
  padding-left: 1.2rem !important;
  padding-top: 0.4rem;
  font-family: var(--font-sans) !important;
}
.kontakt__content form label {
  font-weight: 600;
  margin: 1.5rem 0 0.3rem;
}
.kontakt__content form input {
  border-radius: var(--border-radius);
  border: none;
  padding: 1rem;
}
.kontakt__content form button {
  width: 8rem;
  font-family: var(--font-serif);
  font-size: var(--font-size-2);
  border-radius: var(--border-radius);
  border: none;
  padding: 0.7rem 1.3rem;
  background-color: var(--color-primary);
  color: var(--color-light);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.kontakt__content form button svg {
  margin-top: 0.2rem;
}

.footer {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 3rem 0 0.5rem;
  margin-top: var(--section-gap);
}
.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 40rem;
  gap: var(--gap-large);
  margin: 0 auto;
}
.footer__inner .footer__icons {
  display: flex;
  gap: var(--gap-large);
}
.footer__inner .footer__icons svg {
  max-width: 2rem;
}

/* 1200px or less */
@media screen and (max-width: 1200px) {
  .projekt__content-case {
    flex-direction: column;
  }
  .projekt__content-case .projekt__content-image,
  .projekt__content-case .projekt__content-desc {
    flex-basis: auto;
    width: 100%;
  }
  .projekt__content-case:nth-of-type(2) { /* Antaget att det är den andra instansen du vill påverka */
    flex-direction: column-reverse;
  }
}
/* 900px or less */
@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .site-header__icons {
    margin-left: auto;
    margin-top: 0.4rem;
  }
  .site-header #menu-button {
    display: block;
    margin-left: var(--gap-large);
  }
}

/*# sourceMappingURL=style.css.map */
