:root {
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "Crimson Pro", serif;
  --font-size: 16px;
  --font-scale: 1.25;
  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
  --font-size-small: calc(var(--font-size-1) / var(--font-scale));
  --line-height: 1.6;
  --color-primary: #002742;
  --color-secondary-300: #f9c22ebf;
  --color-secondary-400: #f9c22e;
  --color-dark: #001524;
  --color-light: #FCFCFC;
  --border-radius: 5px;
  --padding-content: 2rem;
  --section-gap: 6.5rem;
  --gap-content: 4rem;
  --gap-large: 2.5rem;
  --gap-small: 1.5rem;
  --inner-width: 71.25rem;
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start]
    minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

html, body {
  font-family: var(--font-sans);
  font-size: var(--font-size);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

a {
  line-height: var(--line-height);
}

p {
  line-height: var(--line-height);
}

li {
  line-height: var(--line-height);
}

blockquote {
  line-height: var(--line-height);
}

.site-header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 var(--gap-content);
  width: 100%;
  position: fixed;
  z-index: 99;
  /* Hamburger icon and menu */
}
.site-header.menu-opened .menu {
  display: none;
}
.site-header .menu__list {
  display: flex;
  list-style: none;
  gap: var(--gap-large);
}
.site-header .menu__list .menu__item a {
  color: var(--color-light);
  font-weight: 500;
  font-size: var(--font-size-2);
  font-family: var(--font-serif);
  position: relative;
  text-decoration: none;
}
.site-header .menu__list .menu__item-current a {
  font-weight: 700;
}
.site-header .menu__list .menu__item-current a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-secondary-400);
  bottom: -4px;
  left: 0;
}
.site-header #menu-button {
  display: none;
  border: none;
  background: none;
  flex-shrink: 0;
}
.site-header .hamburger {
  background-color: var(--color-light);
  width: 20px;
  height: 3px;
  position: relative;
}
.site-header .hamburger::before,
.site-header .hamburger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--color-light);
  left: 0;
  top: -8px;
  transition: top 0.2s 0.2s, transform 0.2s;
}
.site-header .hamburger::after {
  top: 8px;
}
.site-header #menu-button.close .hamburger::before,
.site-header #menu-button.close .hamburger::after {
  top: 0;
}
.site-header #menu-button.close .hamburger::before {
  transform: rotate(45deg);
  transition: top 0.2s, transform 0.2s 0.2s;
}
.site-header #menu-button.close .hamburger::after {
  transform: rotate(-45deg);
  transition: top 0.2s, transform 0.2s 0.2s;
}
.site-header #menu-button.close .hamburger {
  background-color: transparent;
  transition: background-color 0s 0.2s;
}
.site-header .full-menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.site-header .full-menu.open {
  display: flex;
}
.site-header .full-menu .menu__list {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.site-header .full-menu .menu__list a {
  font-size: var(--font-size-3);
}

/* 900px or less */
@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .site-header__icons {
    margin-left: auto;
    margin-top: 0.4rem;
  }
  .site-header #menu-button {
    display: block;
    margin-left: var(--gap-large);
  }
}

/*# sourceMappingURL=style.css.map */
